<div class="row">
  <div class="column">
    <h1 class="left-margin">Original Text</h1>
    <textarea #nerText placeholder="Enter your text here!" class="ner-text fill left-margin"></textarea>
  </div>
  <div class="column">
    <h1>Identified Entities</h1>
    <div *ngIf="result else emptyMessage" class="ner-result" [innerHtml]="result">
    </div>
    <ng-template #emptyMessage>
      <div class="alert alert-dark" role="alert">
        Your entities will appear here
      </div>
    </ng-template>
  </div>
</div>